<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>920578886432-mngfqbogus8jir69jpt20u24n1f96iqh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.920578886432-mngfqbogus8jir69jpt20u24n1f96iqh</string>
	<key>API_KEY</key>
	<string>AIzaSyAsd6i3IQWPM9ibSUJu1USdbnM2Q-7Wycw</string>
	<key>GCM_SENDER_ID</key>
	<string>920578886432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pureeApp</string>
	<key>PROJECT_ID</key>
	<string>puree-app</string>
	<key>STORAGE_BUCKET</key>
	<string>puree-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:920578886432:ios:39eeca9a096a05a0e36545</string>
</dict>
</plist>